#body1{
    background-color: orange;
}
#body2{
    background-color: black;
    color: white;
}
#body3{
    background-color: gold;
}
#body4{
    background-color: black;
    color: red;
}
#body5{
    text-align: center;
    background-color: lightblue;
}
#body6{
    text-align: center;
    background-color: lightgreen;
}
#body7{
    text-align: center;
    background-color: cornflowerblue;
}
#heading3{
    color: yellow;
    background-color: black;
}
